<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Bootstrap -->
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap-responsive.min.css') }}" />
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
  <div class="container">

<div class="row">
  <div class="span12 header"><h1>Tony Blundell<br /><small>Pythonista, Javascription. Sheffield, UK.</small></h1></div>
</div>

{% for row in feeds|batch(3) %}
<div class="row">
  {% for feed in row %}
  <div class="span4 feed">
  	<h3>{{ feed.lbl }}</h3>
  	{% for post in feed.psts %}
  	<div class="post">
  	  <div class="text">{{ post.txt }}</div>
  	  <div class="time">{{ post.dt }}</div>
  	</div>
  	{% endfor %}
  </div>
  {% endfor %}
</div>
{% endfor %}

<div class="row">
  <div class="span12 footer">
  	Contact me: <a href="mailto:tonyblundell@gmail.com">tonyblundell@gmail.com</a></br>
  	<a href="https://github.com/tonyblundell/socialdump">This site's source is on GitHub</a>
  </div>
</div>

  </div>
  </body>
</html>
