<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ config.SOCIALDUMP_HEADING }}</title>
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        {% macro feed_col(feed, num_posts) %}
            <div class="span4 feed {% if feed.lnk %}post_is_link{% endif %}">
                <div class="header">
                    <h3>
                        {% if feed.surl %}
                        <a href="{{ feed.surl }}">{{ feed.lbl }}</a>
                        {% else %}
                        <span>{{ feed.lbl }}</span>
                        {% endif %}
                    </h3>
                </div>
                {% for post in feed.psts[:num_posts] %}
                <div class="post {% if loop.index > 3 %}not-top-3{% endif %}">
                    <div class="text">
                        {% if feed.lnk %}
                        <a href="{{ post.url }}">{{ post.txt }}</a>
                        {% else %}
                        {{ post.txt|twitterize|safe|urlize }}
                        {% endif %}
                    </div>
                    <div class="time">{{ post.dt|time_since  }}</div>
                </div>
                {% endfor %}
            </div>
        {% endmacro %}

        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        Contact <a href="mailto:{{ config.SOCIALDUMP_EMAIL }}">{{ config.SOCIALDUMP_EMAIL }}</a>&nbsp;|&nbsp;
                        <a href="http://github.com/tonyblundell/socialdump">Source on GitHub</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row header">
                <div class="span12">
                    <h1>{{ config.SOCIALDUMP_HEADING }}</h1>
                    <p>{{ config.SOCIALDUMP_SUBHEADING }}</p>
                </div>
            </div>

            {% for row in feeds|batch(3) %}
            <div class="row">
                {% for feed in row %}
                {{ feed_col(feed, 5) }}
                {% endfor %}
            </div>
            {% endfor %}

        </div>
  </body>
</html>
