<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='reset.min.css') }}" />
	  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
	  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
  <div class="container">

<div class="row header">
  <div class="span12">
    <h1>Tony Blundell</h1>
    <p>Pythonista, Javascriptician. Sheffield UK.</p>
  </div>
</div>

<div class="row">
  <div class="span4 feed">
    <h3>{{ feeds[0].lbl }}</h3>
    {% for post in feeds[0].psts[:15] %}
    <div class="post">
      <div class="text">
        {% if feeds[0].lnk %}
        <a href="{{ post.url }}">{{ post.txt }}</a>
        {% else %}
        {{ post.txt|twitterize|safe|urlize }}
        {% endif %}
      </div>
      <div class="time">{{ post.dt|time_since  }}</div>
    </div>
    {% endfor %}
  </div>
  <div class="span8">

    {% for row in feeds[1:]|batch(2) %}
    <div class="row">
      {% for feed in row %}
      <div class="span4 feed">
      	<h3>{{ feed.lbl }}</h3>
      	{% for post in feed.psts[:5] %}
      	<div class="post">
      	  <div class="text">
            {% if feed.lnk %}
            <a href="{{ post.url }}">{{ post.txt }}</a>
            {% else %}
            {{ post.txt|twitterize|safe|urlize }}
            {% endif %}
          </div>
      	  <div class="time">{{ post.dt|time_since  }}</div>
      	</div>
      	{% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>  
</div>

<div class="row footer">
  <div class="span12">
  	Contact me: <a href="mailto:tonyblundell@gmail.com">tonyblundell@gmail.com</a></br>
  	<a href="https://github.com/tonyblundell/socialdump">This site's source is on GitHub</a>
  </div>
</div>

  </div>
  </body>
</html>
